@charset "UTF-8";
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.eot");
  src: local("Lato Regular"), local("Lato-Regular"), url("../fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Medium.eot");
  src: local("Lato Medium"), local("Lato-Medium"), url("../fonts/Lato-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Medium.woff") format("woff"), url("../fonts/Lato-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Semibold.eot");
  src: local("Lato Semibold"), local("Lato-Semibold"), url("../fonts/Lato-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Semibold.woff") format("woff"), url("../fonts/Lato-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Georgia";
  src: url("../fonts/Georgia.eot");
  src: local("Georgia"), url("../fonts/Georgia.eot?#iefix") format("embedded-opentype"), url("../fonts/Georgia.woff") format("woff"), url("../fonts/Georgia.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Georgia";
  src: url("../fonts/Georgia-Bold.eot");
  src: local("Georgia Bold"), local("Georgia-Bold"), url("../fonts/Georgia-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Georgia-Bold.woff") format("woff"), url("../fonts/Georgia-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
/* Обнуляющий стиль */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

li {
  list-style: none;
}

a {
  color: inherit;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

body,
html {
  height: 100%;
  line-height: 1;
}

/* ================== */
body {
  font-family: "Lato", sans-serif;
  background: #fff;
  color: #424242;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.none {
  display: none !important;
}

[class*=__container] {
  max-width: 1390px;
  margin: 0 auto;
  padding: 0px 10px;
}

[class*=__container-big] {
  max-width: 1510px;
  margin: 0 auto;
  padding: 0px 10px;
}

.big-title {
  font-family: "Georgia", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.13;
  color: #01996d;
}

.title {
  font-family: "Georgia", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  color: #01996d;
}

.subtitle {
  font-weight: 600;
  font-size: 24px;
  color: #424242;
}

.button {
  background-color: #01996d;
  border: 1px solid #01996d;
  border-radius: 4px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.25;
  color: #fff;
  padding: 20px 50px;
  max-width: 240px;
}

.header__inner {
  padding: 17px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__modals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 35px;
     -moz-column-gap: 35px;
          column-gap: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__modals-btn {
  cursor: pointer;
  padding: 13px 50px;
  min-width: 183px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 72px;
     -moz-column-gap: 72px;
          column-gap: 72px;
}
.menu__link {
  color: #292929;
  line-height: 1.2;
}

.sign-in {
  cursor: pointer;
  font-family: "Lato", sans-serif;
  background: transparent;
  color: #000;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
}

.aware {
  background: url("../img/aware-bg.jpg") center/cover no-repeat;
  min-height: calc(100vh - 87px);
}
.aware__content {
  max-width: 440px;
  padding: 175px 0 10px;
}
.aware__title {
  margin-bottom: 30px;
}
.aware__text {
  max-width: 420px;
  font-weight: 400;
  line-height: 1.55;
  color: #484848;
  margin-bottom: 18px;
}
.aware__link {
  display: block;
}

.works {
  padding: 170px 0 255px;
}
.works__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.works__top-title {
  -ms-flex-preferred-size: 584px;
      flex-basis: 584px;
}
.works__top-text {
  -ms-flex-preferred-size: 671px;
      flex-basis: 671px;
}
.works__step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.works__step-item {
  -ms-flex-preferred-size: 390px;
      flex-basis: 390px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.works__step-item:nth-child(2) {
  -webkit-transform: translateY(24%);
      -ms-transform: translateY(24%);
          transform: translateY(24%);
}
.works__step-num {
  font-family: "Georgia", serif;
  font-weight: 400;
  font-size: 150px;
  color: rgba(1, 153, 109, 0.2);
  -webkit-transform: translate(20px, 93px);
      -ms-transform: translate(20px, 93px);
          transform: translate(20px, 93px);
}
.works__step-num_left {
  -webkit-transform: translate(-3px, 93px);
      -ms-transform: translate(-3px, 93px);
          transform: translate(-3px, 93px);
}
.works__step-title {
  font-family: "Georgia", serif;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  color: #000;
  margin-bottom: 55px;
}
.works__step-title_right {
  text-align: right;
}
.works__step-text {
  margin-bottom: 60px;
}
.works__step-img {
  display: block;
}

.about {
  background-color: #245852;
  color: #fff;
  padding: 230px 0 177px;
}
.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about__content {
  -ms-flex-preferred-size: 580px;
      flex-basis: 580px;
}
.about__title {
  color: #fff;
  margin-bottom: 33px;
}
.about__text {
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 57px;
}
.about__video {
  -ms-flex-preferred-size: 896px;
      flex-basis: 896px;
  border-radius: 17px;
  background: url("../img/video-bg.jpg") center/cover no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 516px;
}
.about__video-link path {
  -webkit-transition: fill 0.5s;
  -o-transition: fill 0.5s;
  transition: fill 0.5s;
}
.about__video-link:hover svg path {
  fill: #f00;
}

.product {
  padding: 120px 0 243px;
}
.product__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 60px;
  position: relative;
}
.product__img {
  border-radius: 18px;
}
.product__content {
  -ms-flex-preferred-size: 584px;
      flex-basis: 584px;
}
.product__subtitle {
  margin-bottom: 10px;
}
.product__title {
  margin-bottom: 20px;
}
.product__text {
  font-weight: 400;
  font-size: 20px;
  color: #484848;
  margin-bottom: 40px;
}
.product__card {
  position: absolute;
  left: 0;
  bottom: -75px;
}

.card {
  background-color: #fff;
  color: #000;
  min-width: 300px;
  border-radius: 4px;
  padding: 23px 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-filter: drop-shadow(0px 3.62249px 18.1125px rgba(165, 165, 165, 0.25));
          filter: drop-shadow(0px 3.62249px 18.1125px rgba(165, 165, 165, 0.25));
}
.card__title {
  font-weight: 600;
  font-size: 14.5px;
  margin-bottom: 14px;
}
.card__img {
  margin-bottom: 11px;
}
.card__user-name {
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 20px;
}
.card__text {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 16px;
}
.card__list-item {
  font-weight: 400;
  font-size: 11px;
}
.card__list-item:not(:last-child) {
  margin-bottom: 16px;
}