@charset "UTF-8";
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.eot");
  src: local("Lato Regular"), local("Lato-Regular"), url("../fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Medium.eot");
  src: local("Lato Medium"), local("Lato-Medium"), url("../fonts/Lato-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Medium.woff") format("woff"), url("../fonts/Lato-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Semibold.eot");
  src: local("Lato Semibold"), local("Lato-Semibold"), url("../fonts/Lato-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Semibold.woff") format("woff"), url("../fonts/Lato-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Georgia";
  src: url("../fonts/Georgia.eot");
  src: local("Georgia"), url("../fonts/Georgia.eot?#iefix") format("embedded-opentype"), url("../fonts/Georgia.woff") format("woff"), url("../fonts/Georgia.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Georgia";
  src: url("../fonts/Georgia-Bold.eot");
  src: local("Georgia Bold"), local("Georgia-Bold"), url("../fonts/Georgia-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Georgia-Bold.woff") format("woff"), url("../fonts/Georgia-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
/* Обнуляющий стиль */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

li {
  list-style: none;
}

a {
  color: inherit;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

body,
html {
  height: 100%;
  line-height: 1;
}

/* ================== */
body {
  font-family: "Lato", sans-serif;
  background: #fff;
  color: #424242;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.none {
  display: none !important;
}

[class*=__container] {
  max-width: 1390px;
  margin: 0 auto;
  padding: 0px 10px;
}

[class*=__container-big] {
  max-width: 1510px;
  margin: 0 auto;
  padding: 0px 10px;
}

.big-title {
  font-family: "Georgia", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.13;
  color: #01996d;
}

.title {
  font-family: "Georgia", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  color: #01996d;
}

.subtitle {
  font-weight: 600;
  font-size: 24px;
  color: #424242;
}

.button {
  background-color: #01996d;
  border: 1px solid #01996d;
  border-radius: 4px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.25;
  color: #fff;
  padding: 20px 50px;
  max-width: 240px;
}

.header__inner {
  padding: 17px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__modals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 35px;
     -moz-column-gap: 35px;
          column-gap: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__modals-btn {
  cursor: pointer;
  padding: 13px 50px;
  min-width: 183px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 72px;
     -moz-column-gap: 72px;
          column-gap: 72px;
}
.menu__link {
  color: #292929;
  line-height: 1.2;
}

.sign-in {
  cursor: pointer;
  font-family: "Lato", sans-serif;
  background: transparent;
  color: #000;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
}

.aware {
  background: url("../img/aware-bg.jpg") center/cover no-repeat;
  min-height: calc(100vh - 87px);
}
.aware__content {
  max-width: 440px;
  padding: 175px 0 10px;
}
.aware__title {
  margin-bottom: 30px;
}
.aware__text {
  max-width: 420px;
  font-weight: 400;
  line-height: 1.55;
  color: #484848;
  margin-bottom: 18px;
}
.aware__link {
  display: block;
}